<section class="section">
    <%= render 'post', post: @post %>
    <% if @post.comments_counter > 0 %>
          <% @post.comments.each do |comment| %>
            <%= render 'comments', comment: comment, user: @user %>
            <% end %>
          <% end %>
</section>